<?xml version="1.0"?>
<robot name="ftf_robot">

  <link name="base_footprint"/>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.10" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0.4 -0.30 0" rpy="0 0 1.5708"/> 
      <geometry>
        <mesh filename="package://ftf_description/meshes/FTF_Roboter_binary.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_laser_link"/>
    <origin xyz="0.42 0.0 0.15" rpy="0 0 0"/>
  </joint>
  <link name="base_laser_link"/>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="-0.20 0.20 0.10" rpy="0 0 0"/>
  </joint>
  <link name="imu_link"/>

</robot>